@font-face {
  font-family: 'Raspberie';
  src: local('Raspberie'), url(./fonts/Raspberie.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

html,
body{
  background-color: #033A2B;
}
a {
  font-family: 'Raspberie';
  color: #FFECD1;
  letter-spacing: .05rem;
}

a:hover{
  color: #FFECD1
}

h1,
h2,
h3{
  font-family: 'Raspberie';
  color: #FFECD1;
  letter-spacing: .1rem ;
}

div {
  background-color:   #033A2B;
}

main {
  background-color:   #033A2B;
}

button {
  border-radius: 35px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Raspberie';
  font-size: .9rem;
  letter-spacing: 1px;
}

button:active {
  color: #FFA630;
}

.buttonLight {
  background-color: #FFECD1;
  color: #033A2B;
}

.buttonDark {
 background-color: #033A2B;
 color: #FFECD1;
}


.App {
  text-align: center;
  background-color:#033A2B;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #043f2e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
